<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!--uncomment the link below if you want to use a local css file-->    
    <!--<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />-->

    <!--Uncomment the link below if you want to use a online file-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
</head>
<body class="p-3">
    <div class="d-flex justify-content-center">
        <p class="display-4 text-center mb-3">Fun Facts About the Cardigan Welsh Corgi</p>
    </div>
    <div class="w-100 mb-3 w-100">
        <img src="~/Content/images/welsh-corgi-facts-2.jpg" />
    </div>

    <div style="page-break-inside:avoid">
        <h5 class="text-black-50">1. They Have a Tail</h5>
        <p>
            Often called the "Corgi with a tail", this breed's tail is an easy way to distinguish the Cardigan from their Pembroke cousins.
        </p>
    </div>
    <div style="page-break-inside:avoid">
        <h5 class="text-black-50">2. They Have Been Known in Their Namesake Land for More Than 3,000 Years</h5>
        <p>
            The Cardigan Welsh Corgi came to Cardiganshire with the Celts from Central Europe in around 1200 B.C. This makes them the older of the two Corgi breeds and also one of the earliest breeds in the British Isles.
        </p>
    </div>
    <div style="page-break-inside:avoid">
        <h5 class="text-black-50">3. They Were Originally Trained to Drive Cattle Away, Instead of Herd Them</h5>
        <p>
            Hundreds of years ago, the royal family in Wales owned practically all land, and farmers were allowed to fence off only a few acres surrounding their property. They could however, let their cattle graze on the remaining common land. With the competition for pasture between farmers, the Cardigan Welsh Corgi was trained not to herd, but to nip at the heels of the cattle and drive them far across the land.
        </p>
    </div>
    <div style="page-break-inside:avoid">
        <h5 class="text-black-50">4. Their Name Means "Dwarf Dog"</h5>
        <p>
            The Corgi was named "cor" for dwarf (or perhaps "cur" for working dog) and "gi" for dog. Cardigan Welsh refers to their homeland.
        </p>
    </div>
    <div class="mt-4" style="page-break-inside:avoid">
        <h5 class="text-black-50">5. Ancient Welsh Law Protected Them</h5>
        <p>
            Ancient Welsh law called for severe penalties to anyone who harmed or stole the Cardigan Welsh Corgi, because his talents could help determine his family's economic status.
        </p>
    </div>
    <div style="page-break-inside:avoid">
        <h5 class="text-black-50">6. Their Ears Are Amazing</h5>
        <p>
            Not only are the Cardigan's big ears adorable, but they are also extremely useful. They have incredibly acute hearing that can distinguish between familiar sounds and strange noises, making the Cardigan Welsh Corgi a great watchdog. They also have used their hearing to roll out of the way from an approaching kick from a cow.
        </p>
    </div>
    <div style="page-break-inside:avoid">
        <h5 class="text-black-50">7. They Have Had Three Different Group Designations</h5>
        <p>
            The Cardigan Welsh Corgi, recognized by the AKC in 1935, was originally in the Non-Sporting Group. They were later moved to the Working Group, and then the Herding Group, where they now reside.
        </p>
    </div>
    <div style="page-break-inside:avoid">
        <h5 class="text-black-50">8. They Can Do a Lot With Those Little Legs</h5>
        <p>
            The Cardigan Welsh Corgi may be short in statue, but not in energy or ability. They are great companion dogs; they love to be with people. And since they are natural herding dogs, Cardigan Welsh Corgis also excel in dog sports, like agility.
        </p>
    </div>
    
</body>

</html>