<style>
    #header, #footer {
        -webkit-print-color-adjust: exact;
        padding: 0 !important;
        height: 100% !important;
    }

    .pdf-footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 10px;
        align-content: center;
        background-color: #0a54a3;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-left: 20px;
    }
</style>

<div class="pdf-footer">
    <p class="footer-text" style="font-weight:bold;font-size:18px;color:white">Demo Html with Footer</p>

</div>

